doctype html
html
    head
        meta(charset="utf-8")
        meta(name="description", content="expressjs pug")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title="Google Login via Pug"
    body
        div.container
            h1 You are now fake-logged into your Google Account
            h2 Hi #{user.f_name} #{user.l_name}
            p You logged in, congrats !!!
            p In case of questions drop your mail 
                a(href='mailto:info@sunliss.eu') here
